<!DOCTYPE html>
<html>
<head>
    <title>Dein Titel</title>
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    <div class="header">
        <nav class="navbar">
            <ul class="menu">
                <li class="menu-item">
                    <a href="/">Home</a>
                </li>
                <li class="menu-item">
                    <a href="/profile">Mein Konto</a>
                </li>
                <li class="menu-item">
                    <a href="/cart">Warenkorb</a>
                </li>
                <li class="menu-item">
                    <a href="/logout">Logout</a>
                </li>
                <li class="menu-item">
                    <a href="/login">Login</a>
                </li>
                <li class="menu-item">
                    <a href="/registration">Registration</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>