#mapContainer{
	display:flex;
	justify-content:center;
}

#map{
	position:relative;
}

.location{
	position:absolute;
	z-index:5;
}

.info{
	position:absolute;
	background-color:white;
	border-radius:5px;
	width:250px;
	padding: 1%;
	height: auto;
	font-size:0.8em;
	z-index:10;
}
