<!DOCTYPE html>
<html>
<head>
    <title>beste.brettspiele.at</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/global.css">
    <link rel="stylesheet" href="../../public/css/home.css">
    <!--<script type="text/javascript" src="js/home.js"></script>-->
</head>
<body>
        <h1>Willkommen im beste.brettspiele.at Online Shop!</h1>
        <!--searchfiltercontainer
        Produkte können gelistet und je Kategorie angezeigt werden:
            Name, Bild, Preis und Bewertung -->
        <div id="overlay" class="overlay"></div> <!--style="display: none;"-->
        <!--kategoriekontainer sort -->
        <container class="container" id="categorySearchFilter">

        </container>
        <!--productlistcontainer
        Cards wie bei Memory für jedes Product mit
        Json {products:[{id:#, name:#, preis:#, img_path:#, kategorie:{Brettspiel, Kartenspiel, Zubehör}, bewertung:{1-5}}]}-->
        <container class="container" id="contentContainer">
            <div class="row">
                <div class="list-container col-8" id="productListContainer">

                </div>
            <!--warenkorbcontainer **RECHTS
            Produkte können ohne Page-Reload „in den Warenkorb“ gelegt werden
            Anzahl der Produkte wird neben Warenkorbsymbol angezeigt = im Layout zur Navbar-->
                <div class="list-container col" id="cartContainer">

                </div>
            </div>
        </container>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script type="text/javascript" src="../../public/js/home.js"></script>
</html>

